{% extends 'posts/base.html' %}

{% load static %}

{% block content %}
<div class="container2">
	<strong>User - {{request.user.username}}</strong>
	</br>
	<a href="/logout">Logout</a>
	<br>
	<a href="/edit_profile">Edit Profile</a>
</div>
<a href="/new" type="button">Post something new!</a>
<br/>
		{% for post in object_list %}
		{% if post.author.profile.profile_pic %}
			<div class="container2">
			<strong>Posted by- <img src="{{post.author.profile.profile_pic.url}}" class="rounded-circle" width="50" height="50"> {{ post.author.username }} </strong>  <br/>
			<img src="{{post.image.url}}" width=400 height=400 class="center">
			<p><em>Created - {{ post.created }}</em><br/>Caption - {{ post.description }}</p>
			</div>

		{% else %}
			<div class="container2">
			<strong>Posted by- <img src="{% static 'zuhugram/images/default.jpg' %}" class="rounded-circle" width="50" height="50"> {{ post.author.username }} </strong>  <br/>
			<img src="{{post.image.url}}" width=400 height=400 class="center">
			<p><em>Created - {{ post.created }}</em><br/>Caption - {{ post.description }}</p>
			</div>
		{% endif %}
		{% endfor %}
{% endblock %}